* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courgette', cursive;


}

.content1 a {
    text-decoration: none;
    color: white;
}

.top {
    height: 15vh;
    background-color: #EF4516;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.logo {
    padding: 30px;
    margin-top: 10px;
    font-size: 32px;
    color: white;
}



.content {
    display: flex;
    flex-direction: row;
    font-size: 25px;


}

.content1 {
    margin-top: 20px;
    padding: 20px;
    color: black;

}


main {
    height: 80vh;
    display: flex;
    flex-direction: row;
    background-color: #FBFDFA;
    justify-content: space-evenly;
}

img {
    height: 20vh;
    margin-top: 10px;
}


.box1 {
    padding: 30px;
    background-color: rgb(151, 149, 149);
    text-align: center;
    width: 35%;
    font-size: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.box2 {
    background-color: #EEEBD3;
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 55vh;
    border-radius: 20px;


}

.text {
    text-align: center;
    font-size: 25px;

}

.content3 {
    padding: 10px;
    font-size: 20px
}

footer {
    background-color: rgb(24, 24, 24);
    color: white;
    font-size: 25px;
    height: 6vh;
    text-align: center;
    padding: 20px;
}